.DS_Store
external/
.archive/
scripts/common/__pycache__/
subprojects/spoopy_renderer/scripts/common/__pycache__/
src/renderer/output/korepath
src/renderer/output/projecthash
node_modules/
src/visuals/target/
docs/
build/

spoopy_build_config.h
