[submodule "src/renderer/Kore"]
	path = src/renderer/Kore
	url = https://github.com/Kode/Kore.git
[submodule "src/renderer/kmake"]
	path = src/renderer/kmake
	url = https://github.com/Just-Feeshy/kmake.git
