[submodule "src/renderer/Kore"]
	path = src/renderer/Kore
	url = https://github.com/Kode/Kore.git
	branch = v2
[submodule "subprojects/spoopy-slang-wrapper/bx"]
	path = subprojects/spoopy-slang-wrapper/bx
	url = https://github.com/bkaradzic/bx.git
